
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1484202053349'); /* IE9*/
  src: url('iconfont.eot?t=1484202053349#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1484202053349') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1484202053349') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1484202053349#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-jiantou:before { content: "\e61d"; }

.icon-shuqian:before { content: "\e6a4"; }

.icon-zan:before { content: "\e616"; }

.icon-shouye:before { content: "\e677"; }

.icon-mokuaixianxing:before { content: "\e601"; }

.icon-weibiaoti11:before { content: "\e60a"; }

.icon-safari:before { content: "\e606"; }

.icon-biaoti:before { content: "\e60b"; }

.icon-fenxiang:before { content: "\e604"; }

.icon-sousuo_sousuo:before { content: "\e67a"; }

